<div>
	<h2>Novo Produto</h2>
	<a ui-sref="Produtos">Cancelar</a>
	<form novalidate>
		<label for="title">
			Título:
			<input type="text" name="title" ng-model="prod.produto.title">
		</label>
		<label for="subtitle">
			Subtítulo:
			<input type="text" name="subtitle" ng-model="prod.produto.subtitle">
		</label>
		<label for="manufacturer">
			Fabricante:
			<select name="" id="">
				
			</select>
			<button>Adicionar</button>
		</label>
		<label for="seoDescription">
			Descrição SEO:
			<textarea name="" id="" cols="30" rows="10"></textarea>
		</label>
		<label for="description">
			Descrição:
			<textarea name="" id="" cols="30" rows="10"></textarea>
		</label>
		<label for="briefDescription">
			Resumo:
			<textarea name="" id="" cols="30" rows="10"></textarea>
		</label>
		<label for="department">
			Departamento:
			<select name="" id="">
				<option value=""></option>
			</select>
		</label>
		<label for="category">
			Categoria:
			<select name="" id="">
				<option value=""></option>
			</select>
		</label>
		<label for="features">
			Características:
			<table>
				
			</table>
		</label>
		<label for="images">
			Fotos:
		</label>
		<label for="videos">
			Videos:
		</label>
		<label for="unitType">
			Tipo de Unidade:
			<select name="" id="">
				<option value=""></option>
			</select>
		</label>
		<label for="packageType">
			Tipo de Embalagem:
			<select name="" id="">
				<option value=""></option>
			</select>
		</label>
		<label for="weight">
			Peso:
			<input type="number" name="" id="">
		</label>
		<label for="dimensionLength">
			Largura:
			<input type="number" name="" id="">
		</label>
		<label for="dimensionHeight">
			Altura:
			<input type="number" name="" id="">
		</label>
		<label for="dimensionWidth">
			Comprimento:
			<input type="number" name="" id="">
		</label>
		<label for="alternativeProducts">
			Produtos Alternativos:
		</label>
		<label for="isHighlighted">
			Em Destaque?
		</label>
		<label for="isHighlighted">
			Em Lançamento?
		</label>

	</form>
</div>