<div>
    <md-sidemenu>
        <md-sidemenu-group>
            <md-subheader class="md-no-sticky">
                Menu
            </md-subheader>
            <md-sidemenu-content md-arrow="true" md-heading="Meu Negócio" md-icon="business">
                <md-sidemenu-button ui-sref="Home.MyBusiness.matrix">
                    <span class="icon-building">
                        &nbsp;&nbsp;&nbsp;Matriz
                    </span>
                </md-sidemenu-button>
                <md-sidemenu-button ui-sref="Home.MyBusiness.subsidiaries">
                    <span class="icon-office2">
                        &nbsp;&nbsp;&nbsp;Filiais
                    </span>
                </md-sidemenu-button>
            </md-sidemenu-content>

            <md-sidemenu-content md-arrow="true" md-heading="Financeiro" md-icon="attach_money">
                <md-sidemenu-button ui-sref="Home.Financial.accounts">
                	<span class="icon-safe">
                        &nbsp;&nbsp;&nbsp;Contas
                    </span>
                </md-sidemenu-button>

                <md-sidemenu-button ui-sref="Home.Financial.payments">
                	<span class="icon-wallet3">
                        &nbsp;&nbsp;&nbsp;Pagamentos
                    </span>
                </md-sidemenu-button>

                <md-sidemenu-button ui-sref="Home.Financial.taxes">
                	<span class="icon-coins">
                        &nbsp;&nbsp;&nbsp;Impostos
                    </span>
                </md-sidemenu-button>
            </md-sidemenu-content>

            <md-sidemenu-content md-arrow="true" md-heading="Recursos Humanos" md-icon="face">

                <md-sidemenu-button ui-sref="Home.HumanResource.partners">
                    <span class="icon-people">
                        &nbsp;&nbsp;&nbsp;Colaboradores
                    </span>
                </md-sidemenu-button>

                <md-sidemenu-button ui-sref="Home.HumanResource.monitoring">
                    <span class="icon-eye4">
                        &nbsp;&nbsp;&nbsp;Monitoramento
                    </span>
                </md-sidemenu-button>

                <md-sidemenu-button ui-sref="Home.HumanResource.organization">
                    <span class="icon-tree">
                        &nbsp;&nbsp;&nbsp;Organização
                    </span>
                </md-sidemenu-button>

                <md-sidemenu-button ui-sref="Home.HumanResource.recruitment">
                	<span class="icon-add-user">
                        &nbsp;&nbsp;&nbsp;Recrutamento
                    </span>
                </md-sidemenu-button>

                <md-sidemenu-button ui-sref="Home.HumanResource.support">
                	<span class="icon-life-bouy2">
                        &nbsp;&nbsp;&nbsp;Suporte
                    </span>
                </md-sidemenu-button>

                <md-sidemenu-button ui-sref="Home.HumanResource.wage">
                	<span class="icon-money-bag">
                        &nbsp;&nbsp;&nbsp;Salários & Benefícios
                    </span>
                </md-sidemenu-button>

            </md-sidemenu-content>

            <md-sidemenu-content md-arrow="true" md-heading="Inventário" md-icon="store">
                <md-sidemenu-button ui-sref="Home.Inventory.parkeds">
                    <span class="icon-local_parking">
                        &nbsp;&nbsp;&nbsp;Estacionados
                    </span>
                </md-sidemenu-button>
                <md-sidemenu-button ui-sref="Home.Inventory.warehouses">
                    <span class="icon-shipping">
                        &nbsp;&nbsp;&nbsp;Armazens
                    </span>
                </md-sidemenu-button>
                <md-sidemenu-button ui-sref="Home.Inventory.storages">
                    <span class="icon-store">
                        &nbsp;&nbsp;&nbsp;Estoques
                    </span>
                </md-sidemenu-button>
            </md-sidemenu-content>

            <md-sidemenu-content md-arrow="true" md-heading="Ordens" md-icon="assignment">
                <md-sidemenu-button ui-sref="Home.Orders.stores">
                    <span class="icon-cart-plus">
                        &nbsp;&nbsp;&nbsp;Produtos
                    </span>
                </md-sidemenu-button>
                <md-sidemenu-button ui-sref="Home.Orders.expenses">
                    <span class="icon-bill">
                        &nbsp;&nbsp;&nbsp;Despesas
                    </span>
                </md-sidemenu-button>
                <md-sidemenu-button ui-sref="Home.Orders.productions">
                    <span class="icon-industry">
                        &nbsp;&nbsp;&nbsp;Produções
                    </span>
                </md-sidemenu-button>
                <md-sidemenu-button ui-sref="Home.Orders.sales">
                    <span class="icon-cart-arrow-down">
                        &nbsp;&nbsp;&nbsp;Vendas
                    </span>
                </md-sidemenu-button>
                <md-sidemenu-button ui-sref="Home.Orders.rentals">
                    <span class="icon-send-o">
                        &nbsp;&nbsp;&nbsp;Aluguéis
                    </span>
                </md-sidemenu-button>
                <md-sidemenu-button ui-sref="Home.Orders.services">
                    <span class="icon-room_service">
                        &nbsp;&nbsp;&nbsp;Serviços
                    </span>
                </md-sidemenu-button>
            </md-sidemenu-content>

            <md-sidemenu-content ui-sref="Home.manufacturers" md-heading="Fabricantes" md-icon="build">
            </md-sidemenu-content>

            <md-sidemenu-content ui-sref="" md-heading="Fornecedores" md-icon="work">
            </md-sidemenu-content>

            <md-sidemenu-content ui-sref="" md-heading="Transportadoras" md-icon="local_shipping">
            </md-sidemenu-content>

            <md-sidemenu-content ui-sref="" md-heading="Produtos" md-icon="shopping_basket">
            </md-sidemenu-content>

            <md-sidemenu-content ui-sref="" md-heading="Promoções" md-icon="local_offer">
            </md-sidemenu-content>

            <md-sidemenu-content ui-sref="" md-heading="Serviços" md-icon="room_service">
            </md-sidemenu-content>

            <md-sidemenu-content ui-sref="" md-heading="Estatísticas" md-icon="show_chart">
            </md-sidemenu-content>

            <md-sidemenu-content ui-sref="" md-heading="Relatórios" md-icon="content_paste">
            </md-sidemenu-content>

            <md-sidemenu-content ui-sref="" md-heading="Configurações" md-icon="settings">
            </md-sidemenu-content>
        </md-sidemenu-group>
    </md-sidemenu>


</div>
