<div>
	<form>
		<label for="tradingName">
			Nome Fantasia:
			<input type="text">
		</label>
		<label for="companyName">
			Razão Social:
			<input type="text">
		</label>
		<label for="category">
			<select name="category" id="category"></select>
		</label>
		<label for="website">
			Website:
			<input type="text">
		</label>

		<fieldset>
			<legend>Telefones:</legend>
			<button>Adicionar novo telefone</button>
		</fieldset>

		<fieldset>
			<legend>Documentos:</legend>
			<button>Adicionar novo documento</button>
		</fieldset>

		<fieldset>
			<legend>Emails:</legend>
			<button>Adicionar novo email</button>
		</fieldset>

		<fieldset>
			<legend>Telefones:</legend>
			<button>Adicionar novo telefone</button>
		</fieldset>

		<fieldset>
			<legend>Contatos:</legend>
			<button>Selecionar pessoa p/ contato</button>
			<button>Adicionar nova pessoa p/ contato</button>
		</fieldset>

		<fieldset>
			<legend>Endereço:</legend>
			<label for="postalCode">
				CEP:
				<input type="text">
			</label>
			<label for="state">
				Estado:
				<select name="state" id="state"></select>
			</label>
			<label for="city">
				Cidade:
			</label>
			<label for="address1">
				Logradouro:
				<input type="text">
			</label>
			<label for="number">
				Número:
				<input type="text">
			</label>
			<label for="address2">
				Complemento:
				<input type="text">
			</label>
			<label for="residentialArea">
				Bairro:
				<input type="text">
			</label>
		</fieldset>

		<label for="description">
			Descrição:
			<textarea name="description" id="description" cols="30" rows="10"></textarea>
		</label>
		<label for="logo">
			Logo:
		</label>
		<label for="goodTags">
			Recursos & Serviços:
			<button>Selecionarr</button>
			<button>Criar Novo</button>
		</label>
		<label for="notes">
			Observações:
			<textarea name="notes" id="notes" cols="30" rows="10"></textarea>
		</label>
	</form>
</div>