<div>
	DUMMY ...
	<hr>
	<da-calendar selected="day"></da-calendar>

	<label>Selected date: <b>{{day.format('dddd, MMMM Do YYYY')}}</b></label> <br>

	<label for=""><b>Objetivo</b>: fazer um calendário com eventos... Falta alguns ajustes.</label><br>
	<b>Functionamento pretendido</b>: Ao clicar no dia, aparecerá ao lado os campos para o evento ou tarefa agendada e com a seleção de horário.

	<hr>

	<md-list>
	  <md-list-item class="md-2-line">
	    <md-checkbox ng-model="item.done"></md-checkbox>
	    <div class="md-list-item-text">
	      <h3>asdasda</h3>
	      <p>asdasdasdas</p>
	    </div>
	  </md-list-item>
	</md-list>
</div>