<!-- <img src="blog/images/logo.png" height="70" alt="Logo da Agência Digital A. Cores: vermelho, azul e preto"> -->

<h1 class="heading -large">{{ home.title | ExampleFilter }}</h1>

<h3 class="heading -medium">Here is a fancy number served up courtesy of Angular: <span class="number-example">{{ home.number }}</span></h3>

<!-- <img src="blog/images/angular.png" height="100" />
<img src="blog/images/gulp.png" height="100" />
<img src="blog/images/browserify.png" height="100" /> -->
<button ng-click="home.teste()">TESTE</button>

Mensagem: {{home.mensagem}}

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi voluptates officia totam molestiae veniam aut, tenetur autem, beatae animi vitae quidem. Neque repellendus saepe, sint laboriosam facilis! Sequi, optio iste.
</p>

<masonry item-selector=".mybrick">
    <div masonry-brick class="mybrick">Unicorns</div>
    <div masonry-brick class="mybrick">Sparkles</div>
    <div masonry-brick class="mybrick">Sparkles</div>
    <div masonry-brick class="mybrick">Sparkles</div>
    <div masonry-brick class="mybrick">Sparkles</div>
    <div masonry-brick class="mybrick">Sparkles</div>
</masonry>

<div class="row">
  <div class="small-2 columns">2 <span class="hide-for-small-only">columns</span></div>
  <div class="small-10 columns">10 columns</div>
</div>
<div class="row">
  <div class="small-3 columns">3 columns</div>
  <div class="small-9 columns">9 columns</div>
</div>

<div class="row">
  <div class="small-4 columns teste">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
  </div>
  <div class="small-4 columns teste">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
  </div>
  <div class="small-4 columns teste">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
  </div>
</div>

<div class="row">
  <div class="small-4 columns teste" equalizer="'group'" >
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
  </div>
  <div class="small-4 columns teste" equalizer="'group'">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
  </div>
  <div class="small-4 columns teste" equalizer="'group'">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, aperiam?<br>
  </div>
</div>


<div class="row">
  <alert ng-repeat="alert in home.alerts" type="alert.type" close="home.closeAlert($index)">{{alert.msg}}</alert>
  <button class='button' ng-click="home.addAlert()">Add Alert</button>
</div>

<hr/>
<div example-directive title="WOW!" click-message="You clicked me!">Directive is not loaded.</div>
