<div>
  Test View

<!--   <form class="da-form-blue-red da-width-small da-margin-auto da-test-div">
    <div class="row">
      <div class="small-12 columns">
        <label for="username">
          Usuário:
          <div class="da-wrapper-icomoon-input da-icon-input-valid">
            <input type="text">
          </div>
        </label>
      </div>
      <div class="small-12 columns">
        <label for="password">
          Senha:
          <div class="da-wrapper-icomoon-input da-icon-input-invalid">
            <input type="password">
          </div>
        </label>
      </div>
    </div>
  </form> -->

  <button class="button" ng-click="test.signupModal()">Signup</button>
<!--
  <div class="slide-animate" ng-include="'login/signup.html'"></div>

  <div class="slide-animate" ng-include="'login/signin.html'"></div> -->


</div>

