<div>
	Dados da Empresa
	<ng-form>
		<label for="reference">
			Referencia:
			<input type="text" name="reference" id="reference">
		</label>
		
		<label for="tradingName">
			Nome Fantasia:
			<input type="text" name="tradingName" id="tradingName">
		</label>
		
		<label for="companyName">
			<input type="text" name="companyName" id="companyName">
		</label>

		<label for="category">
			Categoria:
			<select name="category" id="category"></select>
		</label>

		<label for="website">
			Website:
			<input type="text" name="" id="">
		</label>

		<label for="telephones">
			<button>Adicionar Telefone</button>
		</label>

		<label for="documents">
			<button>Adicionar Documento</button>
		</label>

		<label for="emails">
			<button>Adicionar Email</button>
		</label>

		<label for="socialNetworks">
			<button>Adicionar Rede Social</button>
		</label>

		<label for="contacts">
			<button>Adicionar Contato</button>
		</label>

		<label for="description">
			Descrição:
			<textarea name="description" id="description" cols="30" rows="10"></textarea>
		</label>

		<label for="logo">
			<button>add logo...</button>
		</label>

		<label for="goodTags">
			Adicionar Tag de Recurso
		</label>
	</ng-form>
</div>