<div>
	<ng-form>
		<label for="name">
			Nome:
			<input type="text" name="name" id="name">
		</label>

		<label for="gender">
			Gênero:
			<select name="gender" id="gender"></select>
		</label>

		<label for="birthdate">
			Data de Nascimento:
			<input type="date" name="birthdate" id="birthdate">
		</label>

		<label for="description">
			Descrição:
			<textarea name="description" id="description" cols="30" rows="10"></textarea>
		</label>

		<label for="photo">
			Foto:

		</label>

		<label for="addresses">
			<button>Adicionar Endereço</button>
		</label>

		<label for="telephones">
			<button>Adicionar Telefone</button>
		</label>

		<label for="emails">
			<button>Adicionar Email</button>
		</label>

		<label for="documents">
			<button>Adicionar Documento</button>
		</label>

		<label for="socialNetworks">
			<button>Adicionar Rede Social</button>
		</label>

		<label for="website">
			Website:
			<input type="text" name="website" id="website">
		</label>

		<label for="literacy">
			Grau de Instrução:
			<select name="literacy" id="literacy"></select>
		</label>

		<label for="post">
			Cargo:
			<input type="text" name="post" id="post">
		</label>

		<label for="notes">
			Notas:
			<textarea name="notes" id="notes" cols="30" rows="10"></textarea>
		</label>
	</ng-form>
</div>