<div>
	<ng-form>
		<label for="answerable">
			Falar Com:
			<input type="text" name="answerable" id="answerable">
		</label>

		<label for="type">
			Tipo:
			<select name="type" id="type"></select>
		</label>

		<label for="mobileOperator">
			Operadora de Celular:
			<select name="mobileOperator" id="mobileOperator"></select>
		</label>

		<label for="DDI">
			DDI:
			<select name="DDI" id="DDI"></select>
		</label>

		<label for="DDD">
			DDD:
			<input type="number" name="DDD" id="DDD">
		</label>

		<label for="number">
			Número:
			<input type="number" name="number" id="number">
		</label>

		<label for="notes">
			Notas:
			<textarea name="notes" id="notes" cols="30" rows="10"></textarea>
		</label>
	</ng-form>
</div>