<div>
	<form novalidate ng-submit="login.testLogin()" name="signinForm" ng-init="login.getToken('signinForm', login.login)">

			<input type="hidden" name="signinFormToken" ng-model="silenceIsGold" required>

			<div ng-show="signinForm.signinFormToken.$invalid">
				Missing token form...
			</div>

			<label for="signin_user">
				Usuário: <br>
				<input type="text" name="signin_user" ng-model="login.login.user" required>	
			</label>
			<label for="signin_password">
				Senha: <br>
				<input type="password" name="signin_password" ng-model="login.login.password" required>
			</label>

			<button class="button success" type="submit" ng-disabled="signinForm.$invalid">Login</button>
		</form>
		<button class="button primary" ng-click="login.login()">Logar com facebook</button>
</div>
