@import 'bourbon';

@import "normalize-layout";


/* ASSETS */
@import 'assets/ngdialog';
@import 'assets/loading-bar';
@import 'assets/angular-material';
@import 'assets/angular-material-sidemenu';
@import 'assets/v-accordion';
//@import 'assets/ngDialogThemeDefault';


@import 'vars';
@import 'typography';
@import 'icons';
@import 'animations';
@import "normalize";
@import "forms";
@import "generics";
@import "dialogs";
@import "damw-menu";
@import "footer";
@import "tables";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	background: #fafafa;
	font-family: 'Open Sans', sans-serif;
}

v-accordion {
	padding: 0px 10px 0 10px;	
}



ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul {
	text-align: right;	
}

ul li div {
	border-right: 1px solid lightblue;
}

ul li div:last-child {
	border-right: none;
}

.table-header {
	background: lightblue;
	color: #333;
}

.ng-scope.ng-isolate-scope {
	padding: 0;
	margin: 0;
}

h2 {
	font-weight: bold;
	font-size: 1.3em;
}

.title {
	margin-left: 25px;	
}

.teste {
	position: absolute;
	width: 20px;
	height: 20px !important;
	padding: 0;
}

.color-green {
	color: #00980D
}

.color-red {
	color: #B80F0F
}

.color-blue {
	color: #004195
}

.brief-billings {
	font-size: 1.1em;	
}

.resumo-geral > label{
	padding-right: 20px;
	font-size: 1.2em
}

.confirm-to-remove {
	padding: 40px;	
}

#da-admin-layout-header {
	padding: 5px;
	margin-bottom: 20px;
	color: #F2F2F2;
	background: #1F497D;
	border-bottom: 2px solid #AEAEAE;
	a {
		color: #FFC1C3;
		&:hover {
			color: #FE6166;
		}
	}
}


fieldset {
    font-family: sans-serif;
    border: 2px solid #1F497D;
    background: #eee;
    border-radius: 5px;
    padding: 15px;
}

fieldset legend {
    background: #1F497D;
    color: #fff;
    padding: 7px 15px 1px;
    font-size: 1.1em;
    border-radius: 4px;
    box-shadow: 0 0 0 2px #ddd;
    margin-left: 20px;
}

.button {
	border-radius: 4px;
	font-weight: bold;
}

div.reveal.without-overlay {
	border-radius: 5px;
	background: #ddd;
}

.budget-form {
	padding: 10px;
}

.budget-form h3 {
	font-size: 1.2em;
	color: #1F497D;
	text-decoration: underline;
}

.budget-form label {
	font-weight: bold;
}

.budget-form input {
	font-weight: normal;
}

.page-title h1{
	font-size: 1.8em !important;
	color: #0D325F;
	text-decoration: underline
}