<div>
    <h2>
        Fabricantes
    </h2>
    
    <accordion close-others="oneAtATime">
        <accordion-group heading="Tabela de Fabricantes" is-open="true">
            <table class="table-scroll" st-table="manuf.manufacturersColl" st-safe-src="manuf.rowCollection">
		        <thead>
		            <tr>
		                <th>
		                    ID
		                </th>
		                <th>
		                    Logo
		                </th>
		                <th>
		                    	Nome Fantasia
		                </th>
		                <th>
		                    Razão Social
		                </th>
		                <th>
		                    Categoria
		                </th>
		                <th>
		                    Website
		                </th>
		                <th>
		                    Telefones
		                </th>
		                <th>
		                    Documentos
		                </th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr st-select-row="row" st-select-mode="single" ng-repeat="row in manuf.manufacturersColl">
		                <td>
		                	{{row.id}}
		                </td>
		                <td>
		                	<!-- <img ng-src="{{row.company.logo.path + row.company.logo.name}}_thumb.{{row.company.logo.filetype}}" alt="{{row.company.logo.description}}" width="100"> -->
		                </td>
		                <td>
		                	{{row.company.tradingName}}
		                </td>
		                <td>
		                	{{row.company.companyName}}
		                </td>
		                <td>
		                	{{row.company.category.name}}
		                </td>
		                <td>
		                	{{row.company.website}}
		                </td>
		                <td>
		                	<a href="">ver</a>
		                </td>
		                <td>
		                	<a href="">ver</a>
		                </td>
		            </tr>
		        </tbody>
		    </table>
        </accordion-group>
        <accordion-group heading="Ações">
        	<button class="button" ng-click="manuf.saveManufacturer('full')">{{manuf.savePageTitle}}</button>
        </accordion-group>
    </accordion>
</div>