<div>
	<form>
		<label for="name">
			Nome do Banco:
			<input type="text">
		</label>
		<label for="code">
			Código do Banco:
			<input type="text">
		</label>
		<label for="manager">
			Gerente:
			<input type="text">
		</label>
		<label for="ammount">
			Montante:
			<input type="text">
		</label>
		<label for="credit">
			Descrição:
			<input type="text">
		</label>
		<label for="agency">
			N.o Agência:
			<input type="text">
		</label>
		<label for="number">
			N.o Conta:
			<input type="text">
		</label>
		<label for="digit">
			Dígito Verificador:
			<input type="text">
		</label>
		<label for="ammount">
			Montante em conta corrent:
			<input type="text">
		</label>
		<label for="savingAmmount">
			Montante em poupança:
			<input type="text">
		</label>

	</form>

</div>