<div>
	<h1>Cadastro</h1>
	<form novalidate>
		<label for="user">
			User: <br>
			<input type="text" name="">
		</label>

		<label for="password">
			Senha: <br>
			<input type="password" name="">
		</label>

		<label for="confPassword">
			Confirmar senha: <br>
			<input type="password" name="">
		</label>

		<fieldset>
			<legend>Pessoa</legend>
			<label for="name">
				Nome: <br>
				<input type="text" name="">
			</label>
			<label for="gender">
				Gender:
				<input type="radio" name="">Masculino
				<input type="radio" name="">Feminino
			</label>
			<label for="birthdate">
				Data de nascimento: <br>
				<input type="date" name="">
			</label>
			<label for="photo">
				Foto: <br>
				<input type="file" name="">
			</label>
			<label for="description">
				Sobre você: <br>
				<textarea name="" cols="30" rows="10"></textarea>
			</label>
			<fieldset>
				<legend>Endereço</legend>
				Residencial: <br>
				<label for="city">
					Cidade: <br>
					<select name=""></select>
				</label>
				<label for="address1">
					Logradouro: <br>
					<input type="text" name="">
				</label>
				<label for="address2">
					Complemento: <br>
					<input type="text" name="">
				</label>
				<label for="residentialArea">
					Bairro: <br>
					<input type="text" name="">
				</label>
				<label for="postalCode">
					Cep: <br>
					<input type="text" name="">
				</label>
				<hr>
			</fieldset>
		</fieldset>
	</form>
</div>