<div>
	Tabela de Teste <br>
	TOTAL DE PÁGINAS: {{tabela.totalPaginas}} <br>
	PÁGINA ATUAL: {{tabela.currentPage}}
	<table class="table" st-pipe="tabela.callServer" st-table="tabela.displayed">
		<thead>
		<tr>
			<th st-sort="id">ID</th>
			<th st-sort="name">Cidade</th>
			<th st-sort="state.code">UF</th>
		</tr>
		<tr>
			<th><input st-search="id"/></th>
			<th><input st-search="name"/></th>
			<th><input st-search="state.code"/></th>
		</tr>
		</thead>
		<tbody ng-show="!tabela.isLoading">
		<tr ng-repeat="row in tabela.displayed">
			<td>{{::row.id}}</td>
			<td>{{::row.name}}</td>
			<td>{{::row.code}}</td>
		</tr>
		</tbody>
		<tbody ng-show="tabela.isLoading">
		<tr>
			<td colspan="3" class="text-center">Carregando ... </td>
		</tr>
		</tbody>
		<tfoot>
		<tr>
			<td class="text-center" st-pagination="" st-items-by-page="10" colspan="4">
			</td>
		</tr>
		</tfoot>
	</table>
</div>