<div ng-form name="docForm">
	<button class="button" ng-click="daDocApp.verForm()">VER FORM</button>
	
	rg_numero_0 tem erro? {{docForm.rg_numero_0.$error}} <br>
	docForm é invalido? {{docForm.$invalid}} <br>

	<ul>
	  <li ng-repeat="(key, errors) in form.$error track by $index"> <strong>{{ key }}</strong> errors
	    <ul>
	      <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
	    </ul>
	  </li>
	</ul>


	<select name="doc_type" ng-model="documentTypeSelected" ng-options="type.id as type.title for type in documentTypes track by type.id">
		<option value="">---Selecione o tipo de documento---</option>
	</select>
	<button da-add-document ng-disabled="!documentTypeSelected" ng-click="daDocApp.removeDocOption(documentTypeSelected)" class="button">Adicionar Documento</button>

	<section id="section-to-documents"></section>
</div>

