.da-margin-top-tiny {
  margin-top: 5px;
}

.da-margin-top-small {
  margin-top: 15px;
}

.da-margin-top-medium {
  margin-top: 25px;
}

.da-margin-top-big {
  margin-top: 50px;
}

.da-text-to-right {
  text-align: right;
}

.da-width-small {
  width: 400px;
}

.da-margin-auto {
  margin: auto;
}

.da-test-div {
  padding: 20px;
}

.font-family-aller-display {
  font-family: "Aller Display";
}

.font-family-aller {
  font-family: "Aller";
}

.font-family-andika-r {
  font-family: "Andika R";
}

.font-family-anivers {
  font-family: "Anivers";
}

.font-family-aref-ruqaa {
  font-family: "Aref Ruqaa";
}

.font-family-aref-ruqaa-bold {
  font-family: "Aref Ruqaa Bold";
}

.font-family-atma {
  font-family: "Atma";
}

.font-family-atma-semibold {
  font-family: "Atma SemiBold";
}

.font-family-atma-bold {
  font-family: "Atma Bold";
}

.font-family-atma-light {
  font-family: "Atma Light";
}

.font-family-audiowide {
  font-family: "Audiowide";
}

.font-family-bungee-hairline {
  font-family: "Bungee Hairline";
}

.font-family-bungee-inine {
  font-family: "Bungee Inine";
}

.font-family-bungee-shade {
  font-family: "Bungee Shade";
}

.font-family-candal {
  font-family: "Candal";
}

.font-family-caveat {
  font-family: "Caveat";
}

.font-family-caveat-bold {
  font-family: "Caveat Bold";
}

.font-family-chathura {
  font-family: "Chathura";
}

.font-family-chathura-light {
  font-family: "Chathura Light";
}

.font-family-chatura-thin {
  font-family: "Chathura Thin";
}

.font-family-chatura-bold {
  font-family: "Chathura Bold";
}

.font-family-chewy {
  font-family: "Chewy";
}

.font-family-chunk-five {
  font-family: "Chunk Five";
}

.font-family-cinzel {
  font-family: "Cinzel";
}

.font-family-cinzel-bold {
  font-family: "Cinzel Bold";
}

.font-family-coiny {
  font-family: "Coiny";
}

.font-family-copse {
  font-family: "Copse";
}

.font-family-cormorant {
  font-family: "Cormorant";
}

.font-family-cormorant-infant {
  font-family: "Cormorant Infant";
}
.font-family-crafty-girls {
  font-family: "Crafty Girls";
}

.font-family-dancing-script {
  font-family: "Dancing Script";
}

.font-family-dancing-script-bold {
  font-family: "Dancing Script Bold";
}

.font-family-delicious {
  font-family: "Delicious";
}

.font-family-delicious-heavy {
  font-family: "Delicious Heavy";
}

.font-family-delicious-smallcaps {
  font-family: "Delicious SmallCaps";
}

.font-family-fertigo {
  font-family: "Fertigo";
}

.font-family-finger-paint {
  font-family: "Finger Paint";
}

.font-family-kelly-slab {
  font-family: "Kelly Slab";
}

.font-family-sacramento {
  font-family: "Sacramento";
}

.font-family-satisfy {
  font-family: "Satisfy";
}

.font-family-unkempt {
  font-family: "Unkempt";
}

.font-family-unkempt-bold {
  font-family: "Unkempt Bold";
}
