<div>
	HOME
	<ul>
		<li><a>ADMIN(in production)</a></li> <!-- MODULE DE ADMIN GERAL -->
		<li><a href="http://erp.agenciadigitala.local/" target="_self">ERP</a></li> <!-- MODULE DO ERP -->
		<li><a>CRM(in production)</a></li> <!-- MOODULE DO CRM -->
		<li><a>E-COMMERCE(in production)</a></li>  <!-- ADMIN DO ECOMMERCE -->
		<li><a>SITE(in production)</a></li> <!-- MODULE DE LAYOUT, BANNER, HOME, ESTILO... -->
		<li><a>BLOG(in production)</a></li> <!-- CMS MODULE -->
		<li><a>MARKETING(in production)</a></li> <!-- SEO MODULE -->
	</ul>
</div>